:root {
  --border-gray: #c6c6c6;
}
* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'HelveticaLight';
  src: url('./fonts/HelveticaNowDisplay-Light.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'HelveticaRegular';
  src: url('./fonts/HelveticaNowDisplay-Regular.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'HelveticaMedium';
  src: url('./fonts/HelveticaNowDisplay-Medium.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'HelveticaBold';
  src: url('./fonts/HelveticaNowDisplay-Bold.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'HelveticaBlack';
  src: url('./fonts/HelveticaNowDisplay-Black.ttf');
  font-display: swap;
}
body {
  font-size: 18px;
  font-family: 'HelveticaRegular';
}
h1 {
  font-family: 'HelveticaMedium';
  font-size: 35px;
}
h2 {
  font-family: 'HelveticaMedium';
  font-size: 28px;
}
h3 {
  font-size: 1.9rem;
  font-family: 'HelveticaMedium';
}
p {
  font-family: 'HelveticaLight';
  line-height: 1.6;
}
a {
  color: black;
  text-decoration: none;
}
